user=your_user_name
host=your_host_name
dbpassword=your_password
db=your_db_name

email=your_email
email_api_key=your_email_api_key

#pip freeze > "filename"

#mysqldump -u root -p databasename > filename.sql